{% extends 'AnytDemoBundle::layout.html.twig' %}

{% block title %}
    Posts
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            {% for post in posts %}
                <article>
                    <h1>{{ post.title }}</h1>

                    <div>{{ post.body|raw }}</div>
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}
